- content_for :title, 'Set Task'

.container.mt-5
  .row.justify-content-center
    .col-sm-6.col-lg-10
      .card.card-light.border-0.rounded-4.shadow-lg.px-3
        .card-header.border-0.bg-transparent.text-center.pt-3.pb-0
          %h3 Set task
        - if @task.errors.any?
          .alert.alert-danger
            %h5 Please fill out all required fields
            -#- if @task.errors.full_messages.include?"Instrument can't be blank"

        .card-body.border-0.bg-transparent.pt-0
          = simple_form_for @task, url: tasks_path, method: :post do |f|
            .mt-2
              = f.select :student_id, @students.map { |student| [student.full_name, student.id] }, {}, { multiple: true, class: 'js-example-basic-multiple', name: 'task[student_id][]', required: true }
            .mt-2
              = f.input :name, label: false, input_html: { placeholder: 'Task Name', required: true }
            .mt-2
              - @task.instrument_id = nil
              - error_class = @task.errors.full_messages.include?("Instrument can't be blank") ? 'is-invalid' : ''
              = f.select :instrument_id, @instruments.map { |instrument| [instrument.name, instrument.id] }, {}, { class: "js-example-basic-single #{error_class}", name: 'task[instrument_id]', required: true }
              
              - if @task.errors.full_messages.include?"Instrument can't be blank"
                .div.invalid-feedback
                  Instrument can't be blank
            .mt-2
              = f.input :description, label: false, input_html: { placeholder: 'Task Description', required: true }
            .mt-2
              = f.input :reward_xp, as: :integer, label: 'Experience Points', input_html: { placeholder: '0', required: true }
            .mt-2
              = f.input :deadline, label: "Deadline", as: :date, html5: true, input_html: { min: Date.today, required: true }
            .mt-2
              = f.input :recording_boolean, label: "Allow Recording?", collection: [['Yes', true], ['No', false]], selected: 'Yes'
            = f.button :submit, "Submit", class: 'btn btn-primary border-0 rounded-5 shadow-lg py-2 px-3 mt-2'
            = link_to 'Cancel', teachers_path, class: 'btn btn-primary border-0 rounded-5 shadow-lg py-2 px-3 mt-2 ms-2', data: { confirm: 'Are you sure?' }

:javascript
  $(document).ready(function() {
    $('.js-example-basic-multiple').select2({
      placeholder: 'Select Student(s)',
      width: '100%',
      allowClear: true
    });

    $('.js-example-basic-single').select2({
      placeholder: 'Select Instrument',
      width: '100%',
      allowClear: true
    });
  });