- status_class_mapping = {"completed" => "table-success", "todo" => "table-danger", "pending" => "table-warning"}

.row.h-100.justify-content-center.text-center
  .col-md-7.p-4
    .mx-auto
      %h2.pb-4.mb-0 Plan for the week
      - %w[Monday Tuesday Wednesday Thursday Friday Saturday Sunday].each do |day|
        - today = day == Date.today.strftime('%A')
        .pb-2.accordion{id: "#{day}"}
          .accordion-item
            %h3.accordion-header
              %button.accordion-button{ class: today ? '' : 'collapsed', type: "button", data: { bs_toggle: "collapse", bs_target: "#collapse-#{day}", aria_expanded: today ? 'true' : 'false', aria_controls: "collapse-#{day}" } }
                = today ? 'Today' : day
            .accordion-collapse.collapse{ class: today ? 'show' : '', id: "collapse-#{day}", data: { bs_parent: "#{day}" } }
              .accordion-body
                - if @tasks.select { |task| task.deadline_day_this_week == day }.empty?
                  No tasks for this day
                - else
                  %table.table
                    %thead
                      %tr
                        %th Task
                        %th Reward XP
                        %th Teacher
                        %th
                    %tbody
                      - @tasks.select { |task| task.deadline_day_this_week == day }.each do |task|
                        %tr{ class: status_class_mapping[task.status.to_s] }
                          %td.align-middle
                            = task.name
                          %td.align-middle
                            = task.reward_xp
                          %td.align-middle
                            = task.teacher.full_name
                          %td
                            .btn-toolbar.float-end
                              - if task.status.to_s == "todo"
                                = link_to 'Do', '#', class: 'btn btn-outline-secondary btn-sm'
                              - else
                                = link_to 'View', '#', class: 'btn btn-outline-secondary btn-sm'

  .col-md-5.p-4.text-white.d-flex.align-items-center
    .card.border-0.rounded-5.shadow-lg.text-center.mx-auto.mb-auto
      .my-auto.p-3
        .mb-3
          %img.p-4.rounded-circle.img-fluid{src: "https://via.placeholder.com/300x300"}
        .h3
          Level
          = current_user.level
        .progress.m-3
          .progress-bar{role: "progressbar", style: "width: #{current_user.get_current_level_progress}%", aria_valuenow: "#{current_user.get_current_level_progress}", aria_valuemin: "0", aria_valuemax: "100"}
        .--bs-success-text-emphasis  
          = current_user.xp_points  
          \/
          = current_user.xp_needed_for_next_level
          xp
        .btn.btn-primary.border-0.rounded-5.shadow-lg.py-2.px-3.ms-auto.my-4
          = link_to 'Change Avatar', '#', class: 'text-light link-underline link-underline-opacity-0'
        -# %a.text-black{href: "#"} Change Avatar
        .btn.btn-primary.border-0.rounded-5.shadow-lg.py-2.px-3.ms-auto.my-4
          = link_to 'Gain 300 xp (for testing)', 'give_student_xp', class: 'text-light link-underline link-underline-opacity-0', method: :post
  
  - if @show_level_up_modal
    - puts "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
    :javascript
      //$('#levelUpModal').modal('show');
      jQuery.noConflict();
      jQuery('#levelUpModal').modal('show');
    - current_user.update(recently_leveled_up: false)

  .modal.fade#levelUpModal(tabindex="-1" role="dialog" aria-labelledby="levelUpModalLabel" aria-hidden="true")
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header
          %h5.modal-title#levelUpModalLabel Congratulations!
          %button.close(type="button" data-dismiss="modal" aria-label="Close")
            %span(aria-hidden="true") ×
        .modal-body
          %p You've reached a new level!
        .modal-footer
          %button.btn.btn-secondary(type="button" data-dismiss="modal") Close
