#container
  %header
    %nav
      %ul.nav
        %li= link_to 'Home', admin_dashboard_path
        %li= link_to 'Add User', new_add_user_path
        %li= link_to 'Edit User', edit_user_path
        %li= link_to 'Logout', root_path

    .row.justify-content-center
      .col-sm-12.col-lg-12
        .card
          .card-header
            Dashboard
          .card-body
            %h3 Students
            %table.table.table-striped
              %thead
                %tr
                  %th Name
                  %th Email
                  %th Level
              %tbody
                - @students.each do |student|
                  %tr
                    %td= student.full_name
                    %td= student.email
                    %td= student.level

            %h3 Teachers
            %table.table.table-striped
              %thead
                %tr
                  %th Name
                  %th Email
              %tbody
                - @teachers.each do |teacher|
                  %tr
                    %td= teacher.full_name
                    %td= teacher.email

          .card-footer.d-flex.justify-content-between
            = link_to 'Add User', new_add_user_path, class: 'btn btn-primary'
            = link_to 'Logout', root_path, class: 'btn btn-secondary'
      