#container
  %header
    %nav
      %ul.nav
        %li= link_to 'Home', admin_dashboard_path
        %li= link_to 'Add User', new_add_user_path
        %li= link_to 'Edit User', edit_user_path
        %li= link_to 'Logout', root_path

  %main
    .admin-edit_user
    %h1 Edit User
    -# frozen_string_literal: true
    = simple_form_for :user do |f|
      = f.input :full_name, label: 'Full Name', wrapper_html: { class: 'mb-3' }
      = f.input :email, wrapper_html: { class: 'mb-3' }
      = f.input :username, wrapper_html: { class: 'mb-3' }
      = f.input :type, collection: [['Teacher', 'Teacher'], ['Student', 'Student']], wrapper_html: { class: 'mb-3' }

      .actions
      = f.button :submit, 'Save Changes', class: 'btn btn-primary'
      = link_to 'Cancel', admin_dashboard_path, class: 'btn btn-link ms-auto'