.row.h-100.justify-content-center.text-center.p-3
  .btn.btn-danger.border-0.rounded-5.shadow-lg.py-2.px-3.d-inline-block{style: "width: auto !important;"}
    = link_to 'Back', teachers_dashboard_path, class: 'nav-link'
  .break

  .form.mt-3.d-inline-block{style: "width: auto !important;"}
    = form_tag(teachers_dashboard_path, method: "post", class: "form-inline") do 
      .form-group.mx-2.my-3 
        = text_field_tag :student_name, nil, class: "form-control", placeholder: "Student's Full Name"
      .form-group.mx-2.my-3 
        = text_field_tag :task_name, nil, class: "form-control", placeholder: "Task Name"
      .form-group-mx-2.my-3
        = text_field_tag :task_description, nil, class: "form-control", placeholder: "Task Description"
      .form-group.mx-2.my-3 
        = label_tag 'Deadline'
        = date_field_tag :deadline, nil, class: "form-control"
      .form-group.mx-2.my-3 
        = label_tag 'Allow Recording?'
        = select_tag :recording, options_for_select([['No', false], ['Yes', true]], nil), class: "form-control"
      .form-group.mx-2.my-3 
        = label_tag 'Attach MP3 file?'
        = file_field_tag :mp3_file, accept: 'audio/mp3', class: "form-control"
  .break

  .btn.btn-success.border-0.rounded-5.shadow-lg.py-2.px-3.my-3.d-inline-block{style: "width: auto !important;"}
    = link_to 'Add Task', teachers_dashboard_path, class: 'nav-link'
