- status_class_mapping = {"completed" => "table-success", "todo" => "table-danger", "pending" => "table-warning"}
.row.justify-content-center.p-3
  %header.pb-3
    .d-flex.justify-content-between.align-items-center
      %h1 My Students
      = link_to 'Set a Task', new_add_task_path, class: 'btn btn-primary'

  %main
    - @students.each do |student|
      .card.mb-4{id: "#{student.full_name}"}
        .card-header
          %h5.card-title= student.full_name

        - if @tasks.where(student_id: student.id).empty?
          .card-body
            %p No tasks available for this student
        - else
          .table-responsive
            %table.table.table-hover
              %thead.thead-light
                %tr
                  %th Task
                  %th Description
                  %th Reward XP
                  %th Deadline
                  %th Status
                  %th
              %tbody
                - @tasks.where(student_id: student.id).each do |task|
                  %tr{ class: status_class_mapping[task.status] }
                    %td= task.name
                    %td= task.description
                    %td= task.reward_xp
                    %td= task.deadline.strftime("%e %b %Y")
                    %td
                      %span.badge{ class: "badge-#{status_class_mapping[task.status]}" }= task.status.capitalize
                    %td
                      %button.btn.btn-outline-secondary.btn-sm.disabled View
