- status_class_mapping = {"completed" => "table-success", "todo" => "table-danger", "pending" => "table-warning"}
.row.justify-content-center.p-3
  .pb-3
    .d-flex.justify-content-between.align-items-center
      %h1 My Students
      = link_to 'Set a Task', new_task_path, class: 'btn btn-primary border-0 rounded-5 shadow-lg py-2 px-3'

  %section
    - @students.each do |student|
      - username = student.username
      .pb-2.accordion{id: "#{username}"}
        .accordion-item
          %h3.accordion-header
            %button.accordion-button{ class: 'collapsed', type: "button", data: { bs_toggle: "collapse", bs_target: "#collapse-#{username}", aria_expanded: 'false', aria_controls: "collapse-#{username}" } }
              = student.full_name
          .accordion-collapse.collapse{ id: "collapse-#{username}", data: { bs_parent: "#{username}" } }
            .accordion-body
              - if @tasks.where(student_id: student.id).empty?
                .card-body
                  %p No tasks available for this student
              - else
                .table-responsive
                  %table.table.table-hover
                    %thead.thead-light
                      %tr
                        %th Task
                        %th Instrument
                        %th Description
                        %th Reward XP
                        %th Deadline
                        %th Status
                        %th
                        %th
                    %tbody
                      - @tasks.where(student_id: student.id).each do |task|
                        %tr{ class: status_class_mapping[task.status] }
                          %td.align-middle= task.name
                          %td.align-middle= task.instrument.name
                          %td.align-middle= task.description
                          %td.align-middle= task.reward_xp
                          %td.align-middle= task.deadline.strftime("%e %b %Y")
                          %td.align-middle.fs-4
                            - if task.status.to_s == "completed"
                              %i.bi.bi-check2-all
                            - elsif task.status.to_s == "pending"
                              %i.bi.bi-check2
                            - else
                              %i.bi.bi-clock-history
                          %td.align-middle
                            .btn-toolbar.float-end
                              = link_to 'Use as template', new_task_path(task_id: task.id), class: 'btn btn-outline-secondary btn-sm'
                          %td.align-middle
                            .btn-toolbar.float-end
                              = link_to 'Delete', task_path(task), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm'
