- status_class_mapping = {"completed" => "table-success", "todo" => "table-danger", "pending" => "table-warning"}
.row.justify-content-center.p-3
  .pb-3
    .d-flex.justify-content-between.align-items-center
      %h1 My Students
      = link_to 'Set a Task', new_task_path, class: 'btn btn-primary border-0 rounded-5 shadow-lg py-2 px-3'

  %section
    - @students.each do |student|
      - username = student.username
      .pb-2.accordion{id: "#{username}"}
        .accordion-item.rounded-3
          %h3.accordion-header
            %button.accordion-button.rounded-3{ class: 'collapsed', type: "button", data: { bs_toggle: "collapse", bs_target: "#collapse-#{username}", aria_expanded: 'false', aria_controls: "collapse-#{username}" } }
              = student.full_name 
          .accordion-collapse.collapse{ id: "collapse-#{username}", data: { bs_parent: "#{username}" } }
            .accordion-body
              = simple_form_for :xp_points_form, url: teacher_give_student_xp_path(student.id), method: :post, remote: true, html: { class: 'xp-points-form', id: "xpPointsForm-#{student.id}" } do |f|
                .row.p-3
                  .col-md-2
                    = f.input :number_of_xp_points, input_html: { type: 'number', class: 'xpPointsInput', id: "xpPointsInput-#{student.id}" }
                  .col-md-2.mt-auto
                    = f.hidden_field :student_id, value: student.id
                    .mb-1
                      = f.submit 'Give Student XP', class: 'btn btn-outline-secondary xpPointsSubmit', id: "xpPointsSubmit-#{student.id}"
                    = link_to 'Reset', '#', class: 'btn btn-outline-secondary resetButton', id: "resetButton-#{student.id}", data: { target_form: "xpPointsForm-#{student.id}" }
              
              - if @tasks.where(student_id: student.id).empty?
                .card-body
                  %p No tasks available for this student
              - else
                .table-responsive
                  %table.table.table-hover
                    %thead.thead-light
                      %tr
                        %th Task
                        %th Instrument
                        %th Description
                        %th Reward XP
                        %th Deadline
                        %th Status
                        %th
                        %th
                    %tbody
                      - @tasks.where(student_id: student.id).each do |task|
                        %tr{ class: status_class_mapping[task.status] }
                          %td.align-middle= task.name
                          %td.align-middle= task.instrument.name
                          %td.align-middle= task.description
                          %td.align-middle= task.reward_xp
                          %td.align-middle= task.deadline.strftime("%e %b %Y")
                          %td.align-middle.fs-4
                            - if task.status.to_s == "completed"
                              %i.bi.bi-check2-all
                            - elsif task.status.to_s == "pending"
                              %i.bi.bi-check2
                            - else
                              %i.bi.bi-clock-history
                            %td.align-middle
                              .btn-toolbar.float-end
                                - if task.status.to_s == "pending"
                                  = link_to 'Grade', task_details_path(task), class: 'btn btn-outline-secondary btn-sm mr-2'
                              .btn-toolbar
                                = link_to 'Use as template', new_task_path(task_id: task.id), class: 'btn btn-outline-secondary btn-sm ml-2'
                          %td.align-middle
                            .btn-toolbar.float-end
                              = link_to 'Delete', task_path(task), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm'

:javascript
  document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.resetButton').forEach(function(button) {
      var targetFormId = button.dataset.targetForm;
      var form = document.getElementById(targetFormId);

      button.addEventListener('click', function(e) {
        e.preventDefault();
        form.reset();
      });
    });
  });

-# document.querySelectorAll('.xp-points-form').forEach(function(form) {
-#   var studentId = form.dataset.studentId;
-#   var xpPointsInput = form.querySelector('.xpPointsInput');
-#   var xpPointsSubmit = form.querySelector('.xpPointsSubmit');

-#   form.addEventListener('submit', function(e) {
-#     e.preventDefault();
-#     xpPointsInput.value = '';
-#     xpPointsSubmit.disabled = false;
-#     //form.submit();
-#   });
-# });