%nav.navbar.navbar-expand-lg.mb-3
  .container-fluid
    %a.card.border-0.rounded-5.shadow-lg.py-2.px-3.navbar-brand{href: "/"} musicGuru

    %button.navbar-toggler{ type: :button, data: { bs_toggle: :collapse, bs_target: '#navbar-content' }, aria: { controls: 'navbar-content', expanded: 'false', label: 'Toggle navigation' } }
      %span.navbar-toggler-icon

    #navbar-content.navbar-collapse.collapse
      - if user_signed_in?
        %ul.navbar-nav.me-auto.mb-2.mb-lg-0
          %li.nav-item.ps-3
            - if current_user.role == 'admin' 
              -# = link_to 'Home', admin_dashboard_path, class: 'nav-link active', aria_current: 'page'
            - elsif current_user.role == 'teacher'
              = link_to 'Home', teachers_dashboard_path, class: 'nav-link active', aria_current: 'page'
            - else 
              = link_to 'Home', students_dashboard_path, class: 'nav-link active', aria_current: 'page'

          %li.nav-item.ps-3
            - if current_user.role == 'student'
              = link_to tasks_path, class: 'nav-link' do
                Tasks
      
        .btn.btn-primary.border-0.rounded-5.shadow-lg.py-2.px-3.ms-auto
          = link_to 'Log out', destroy_user_session_path, class: 'text-light link-underline link-underline-opacity-0', method: :delete
    
      - else
        .btn.btn-primary.border-0.rounded-5.shadow-lg.py-2.px-3.ms-auto
          = link_to 'Log in', new_user_session_path, class: 'text-light link-underline link-underline-opacity-0'